<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="log4net" version="2.0.12" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reactive" version="5.0.0" targetFramework="net48" />
  <package id="System.Reactive.Core" version="5.0.0" targetFramework="net48" />
  <package id="System.Reactive.Interfaces" version="5.0.0" targetFramework="net48" />
  <package id="System.Reactive.Linq" version="5.0.0" targetFramework="net48" />
  <package id="System.Reactive.PlatformServices" version="5.0.0" targetFramework="net48" />
  <package id="System.Reactive.Windows.Threading" version="5.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0-preview.18571.3" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" requireReinstallation="true" />
  <package id="Z.EntityFramework.Extensions" version="6.13.15" targetFramework="net48" />
</packages>